

@keyframes bgMove{
	0% {background-position: 0% 0px;}
	50% {background-position: 150% 0px;}
	100% {background-position: 0% 0px;}
}


body#bg{
	animation-name: bgMove;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	background: url(../images/ocean.gif) center center / cover fixed white;

}

canvas{
	width: 100%;
	border: solid 1px black;
}

body {
	background-color: beige;
	margin-left: 10%;
	margin-right: 10%;
}

#comicImg{
	max-width: 100%;
}

#mainCanvas{
	display: none;
}

h1 {
	background-color: saddlebrown;
	text-align: center;
	padding: .1em;
	border-style: groove;
	border-radius: 1em 0em;
	font-family: Courier;
	text-shadow: 2px 2px 8px #aaaaaa;
	margin-left: 10%;
	margin-right: 10%;
}

article {
	margin-top: 1em;
	background-color: white;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-radius: .5em;
	box-shadow: 2px 2px 2px grey;
}

h2 {
	font-family: Courier New;
}

p {
	text-indent: 1em;
	padding-left: 1em;
	font-family: Courier;
	font-size: 3em;
}

nav {
	margin-bottom: 1em;
}

nav a {
	text-transform: lowercase;
	margin-left: 1em;
	margin-right: 1em;
	padding: .5em;
	background-color:black;
	color: white;
	border-radius: 1em;
	text-decoration: none;
	/*font-family: 'Brush Script MT', cursive;*/
}



nav a:hover{
	padding-left: 1em;
	padding-right: 1em;
	margin:.5em;
	background-color: grey;
}

nav a:active{
	border-width: .2em 0px;
	border-style: groove;
}

.blogNav{
	padding: 0em;
	text-align:center;
}

.blogNav li{
	display:inline;
}


.blogNav a:hover{
	background-color: white;
}

.blogNav a:active{
	font-size: 2em;
	background-color: blue;
}

.blogNav a{
	background-color: burlywood;
	font-weight: bold;
	font-family: Courier New;
	font-size: 1.5em;
	padding: .5em;
	transition: font-size .1s, background-color .2s;
}

#subjText {
	margin: 0em;
}


#quesText {
	box-shadow: 0 0 2px 1px grey;
	border-radius: .5em;
	background-color: beige;
	padding: .3em;
	min-height: 5em;
	margin-top: 0em;
}

#bigButt {
	float: right;
	font-size: 1.5em;

}

button{
	font-size: 3em;
}

img{
	max-width:100%;
}
