nav a{
	font-size: 4rem;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: .3em;
	display:block;
	border: .3em;
	border-left: 2em;
	border-right: 2em;
	border-color: black;
	border-style: outset;
	/*display:none;*/
}

h1 {
	font-size: 7rem;
}

h2 {
	font-size: 6rem;
}

h3 {
	font-size: 4rem;
}

p {
	font-size: 4rem;
}

body{ 
	font-size: 4rem;
	margin:1em;
}

article{
	padding:.5em;
}	

button{
	/*display:block;*/
	padding:1em;
	font-size: 1em;
}

input{
	max-width: 80%;
	font-size: 2em;
}

label{
	font-size: 2em;
}

#bigButt {
	display: none;
}

.blogNav a:active{
	font-size: 1.2em;
}
.blogNav a{
	padding: 0.2em;
	font-size: 1em;
}

pre {
	font-size: 2rem;
}

audio {
	background:red;
	max-width:100%;
	width=5000px;
}
