* {
	color: green;
	border: solid blue 1px;
	padding: .5em;
	margin: 1em;
}

body{
	background-color: black;
	margin-left:20%;
	margin-right:20%;
	text-align:center;
}

#aidanBody{
	margin-left: 0;
	margin-right: 0;
}

.gameCanvas{
	position:absolute;
	left: 0;
	top:0;
}

canvas{
	#width:400px;
	#height:200px;
	width: auto;
	height:auto;
	//image-rendering:pixelated;
}


